

{%extends 'layout.html'%}
{%block content%}

    <!--/main-slider -->
    <section class="w3l-main-slider banner-slider position-relative" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <!-- <div class="banner-info header-hero-19">
                            <h5>Beauty Care for Everyone</h5>
                            <h3 class="title-hero-19">Experience the Best Beauty Services</h3>
                        </div>
                        <div class="banner-info header-hero-19 banner-info2 header-hero-192">
                            <h5>Spa for your Style Fitness</h5>
                            <h3 class="title-hero-19">Professional Spa & Skin Care</h3>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="scroll-button">
            <a href="#about" class="scroll">
                <div class="arrow"></div>
            </a>
        </div>
    </section>
    <!-- //main-slider -->
    <!--/bottom-3-grids-->
    <div class="w3l-3-grids py-5" id="grids-3">
        <div class="container py-md-5 py-2">
            <div class="title-content text-center">
                <!-- <h6 class="title-subw3hny mb-1">About Us</h6> -->
                <!-- <h3 class="title-w3l">Popular Services</h3> -->
                <!-- <p class="text-para mb-4">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p> -->
            </div>
            <!--/row-1-->

            <!-- <div class="row pt-lg-4 mt-5 top-grids3-info">
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4">
                    <div class="grids3-info position-relative">
                        <a href="#" class="d-block zoom"><img src="../static/assets/images/th.jpeg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info">
                        </div>
                    </div>
                    <h4 class="text-center mt-4"><a href="#">Pothole Sign</a>
                    </h4>
                    <p class="text-center mb-3">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
                    <a class="w3item-link" href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 grids3-info2">
                    <div class="grids3-info second position-relative">
                        <a href="blog-single.html" class="d-block zoom"><img src="../static/assets/images/th.jpeg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info second">
                        </div>
                    </div> -->

                    <!-- <h4 class="gdnhy-1 mt-4"><a href="#">Premium Products</a>
                    </h4>
                    <p class="text-center mb-3">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
                    <a class="w3item-link" href="#">
                        <i class="fas fa-arrow-right"></i> -->
                    <!-- </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="grids3-info position-relative">
                        <a href="blog-single.html" class="d-block zoom"><img src="../static/assets/images/b6.jpg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info"> -->
<!-- 
                        </div>
                    </div>
                    <h4 class="gdnhy-1 mt-4"><a href="#">The Latest Equipment</a>
                    </h4>
                    <p class="text-center mb-3">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
                    <a class="w3item-link" href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!--//bottom-3-grids-->

    <!--/home-page-video-popup-->
    <section class="w3l-video-sec py-5" id="video">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-7 w3l-index5 py-5">
                    <div class="w3video-bghny py-5">
                        <div class="history-info position-relative py-5 my-lg-5">
                            <a href="#small-dialog1" class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 w3l-video-info-right ps-lg-5 mt-lg-0 mt-5">
                    <div class="title-content-two">
                        <h6 class="title-subw3hny">About Us</h6>
                        <h3 class="title-w3l">Pothole And Sign Detection</h3>
                        <p class="mt-2">Enhancing safety on roads: detecting potholes for smoother rides and recognizing signs for clearer navigation. Technology revolutionizing travel</p>
                        <!-- <a href="services.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Our Services </a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home-page-video-popup-->
    <!--/Gallery-Section-->
    <section class="w3l-gallery" id="gallery">
        <div class="destionation-innf py-5">
            <div class="container py-lg-5 py-md-4 py-2 HomePageGallery">
                <div class="title-content text-center">
                    <!-- <h6 class="title-subw3hny text-center">Gallery</h6>
                    <h3 class="title-w3l mb-5 text-center">Photo Gallery</h3> -->
                </div>
                <!--/grids-grids-->
                <ul class="gallery_agile">
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="#">
                                <!-- <img src="../static/assets/images/g1.jpg" alt=" " class="img-fluid radius-image" /> -->
                                <div class="portfolio-info">
                                    <h4>Gallery 1</h4>
                                    <!-- <i class="fas fa-plus details-link"></i> -->
                                </div>
                            </a>
                        </div>
                        <div class="w3_agile_portfolio_grid mt-4">
                           <a href="#">
                                <!-- <img src="../static/assets/images/g2.jpg" alt=" " class="img-fluid radius-image" /> -->
                                <div class="portfolio-info">
                                    <h4>Gallery 2</h4>
                                    <!-- <i class="fas fa-plus details-link"></i> -->
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="#">
                                <!-- <img src="../static/assets/images/g3.jpg" alt=" " class="img-fluid radius-image" /> -->
                                <div class="portfolio-info">
                                    <!-- <h4>Gallery 3</h4> -->
                                    <!-- <i class="fas fa-plus details-link"></i> -->
                                </div>
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="#">
                                <!-- <img src="../static/assets/images/g4.jpg" alt=" " class="img-fluid radius-image" /> -->
                                <div class="portfolio-info">
                                    <!-- <h4>Gallery 4</h4> -->
                                    <!-- <i class="fas fa-plus details-link"></i> -->
                                </div>
                            </a>
                        </div>
                        <div class="w3_agile_portfolio_grid mt-4">
                            <a href="#">
                                <!-- <img src="../static/assets/images/g5.jpg" alt=" " class="img-fluid radius-image" /> -->
                                <div class="portfolio-info">
                                    <!-- <h4>Gallery 5</h4> -->
                                    <!-- <i class="fas fa-plus details-link"></i> -->
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <!--//grids-grids-->
            </div>
        </div>
    </section>
    <!--//Gallery-Section-->
    <!--//testimonials-->
    <section class="w3l-clients-1" id="testimonials">
        <!--/cusrtomer-layout-->
        <div class="cusrtomer-layout py-5 pt-0">
            <div class="container py-lg-5 py-md-4 py-2 pt-0">
                <!--/testimonial-grids-->
                <div class="testimonial-row">
                    <div id="owl-demo1" class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="testi-des">
                                        <!-- <i class="fas fa-quote-left"></i> -->
                                        <div class="peopl align-self">
                                            <h3>Oscar Wilde</h3>
                                        </div>
                                    </div>
                                    <blockquote>
                                        "The road is more than just a path; it's a metaphor for life's journey, with twists, turns, and unexpected detours. Each mile traversed teaches lessons of resilience, patience, and perseverance. Whether rough or smooth, every road holds stories of adventure, growth, and discovery."
                                    </blockquote>
                                    <ul class="social-media-test m-0 mt-4 p-0">
                                        <li><a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                                        </li>
                                        <li><a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//testimonial-grids-->
            </div>
        </div>
        <!--//cusrtomer-layout-->
    </section>
    <!-- //testimonials -->

    <!--/home-page-mid-->
    <!-- <section class="w3-midhny-sec py-5" id="mid">
        <div class="container py-lg-5">
            <div class="w3-midhny-info">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="bottom-info">
                            <div class="header-section title-content-two pe-lg-5">
                                <!-- <h5 class="title-subw3hny mb-3">Our Special Offer</h5> -->
                                <!-- <h3 class="title-w3l two mb-4">An Incredible Spa <br>Experience -->
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5 align-self mt-lg-0 mt-sm-5 mt-4">
                        <div class="w3l-buttons d-sm-flex justify-content-end">
                            <a href="#book" class="btn btn-style btn-white btn-primary">
                                <!-- Make an appointment</a> -->
                        </div>
                    </div>
                </div> 


            </div>
        </div>
    </section> 
    <!--//home-page-mid-->
    <!--/w3l-subscribe-->

    <!--//w3l-subscribe-->
    <!--/instagram-grid-wrap-->
    <section class="instagram-grid-wrap-top">
        <div class="container-fluid mx-lg-0">
            <div class="row footer-top-29 instagram-grid-wrap px-0">
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b1.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>1k</a>
                                    <a href="#"><span class="far fa-comment"></span>9</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b2.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>3k</a>
                                    <a href="#"><span class="far fa-comment"></span>6</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b3.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>4k</a>
                                    <a href="#"><span class="far fa-comment"></span>7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b4.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>4k</a>
                                    <a href="#"><span class="far fa-comment"></span>8</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b5.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>3k</a>
                                    <a href="#"><span class="far fa-comment"></span>9</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
                <!-- Start-Instagram -->
                <div class="col-lg-2 col-4 mt-lg-0 mt-4 instagram-grid-wrap-grid px-0">
                    <div class="item-grid grid-style-1">
                        <div class="img-thumb">
                            <a href="#">
                                <!-- <img src="../static/assets/images/b6.jpg" alt="" class="img-fluid"> -->
                            </a>
                            <div class="img-thumb-item-info">
                                <div class="inner">
                                    <a href="#"><span class="far fa-heart"></span>6k</a>
                                    <a href="#"><span class="far fa-comment"></span>7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start-Instagram -->
            </div>
        </div>
    </section>
    <!--//instagram-grid-wrap-->
   
    {%endblock%}